.button {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-color: grey;
	-fx-border-width: 4 4 4 4;
	-fx-border-radius: 6;
	-fx-background-radius: 6;
	-fx-font-size: 14;

}


.button {
	-fx-border-color: #001439;
	-fx-border-radius: 5 5 5 5;
	-fx-border-width: 5 5 5 5;
	-fx-background-radius: 20 20 20 20;
	-fx-background-color: #FFF56C;
	-fx-text-fill: black;
}
.button:hover {
	-fx-background-color: #EAEDF8;
}

.button:pressed {
	-fx-background-color: #F18805;
}

.creditsClass {
	-fx-background-color: #f4f4f4;
}

.root {
	-fx-background-color: #001439;
}

.leftWindow, .rightWindow {
	-fx-background-radius: 10 10 10 10;

}

#1 {
	-fx-background-color: #F8FAFF;
}