.button {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-color: grey;
	-fx-border-width: 4 4 4 4;
	-fx-border-radius: 6;
	-fx-background-radius: 6;
	-fx-font-size: 14;

}

.button:hover {
	-fx-border-color: #4366A9;
}

.button:pressed {
	-fx-background-color: #679CEB;
	-fx-text-fill: white;
}


.creditsClass {
	-fx-background-color: #f4f4f4;
}


