#0 {
	-fx-background-color: #001439;
}

#1 {
	-fx-background-color: #F8FAFF;
}

.text-field {
	-fx-border-color: #001439;
	-fx-border-radius: 5 5 5 5;
	-fx-background-color: white;
}

.slider .thumb {
	-fx-background-color: white;
	-fx-border-radius: 100 100 100 100;
	-fx-border-color: #001439;
}

.slider .thumb:hover {
	-fx-background-color: #EAEDF8;
}

.slider .thumb:pressed {
	-fx-background-color: #F18805;
}

.slider .track {
	-fx-background-color: white;
	-fx-border-radius: 5 5 5 5;
	-fx-border-color: #001439;
}

.button {
	-fx-border-color: #001439;
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5 5 5 5;
	-fx-background-color: white;
}
.button:hover {
	-fx-background-color: #EAEDF8;
}

.button:pressed {
	-fx-background-color: #F18805;
}

.deleteButton {
	-fx-background-color:  red;
}
.deleteButton:hover {
	-fx-background-color: #ec4a4a;
}

.deleteButton:pressed {
	-fx-background-color: #c20000;
}

.choice-box {
	-fx-border-color: #001439;
	-fx-border-radius: 5 5 5 5;
	-fx-background-color: white;
}

.choice-box .menu-item {
	-fx-padding: 5 95 5 95;
}

.choice-box .menu-item:focused {
	-fx-background-color: #F18805;
	}

.choice-box:hover {
	-fx-background-color: #EAEDF8;
}

.tab-header-background {
	-fx-background-color: #001439;
}

.tab {
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #F8FAFF;
}

.tab:hover {
	-fx-background-color: #EAEDF8;
}

.tab:selected {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color: #F18805;
	-fx-text-fill: white;
	-fx-focus-color: transparent;
}

.tab:selected .tab-label {
	-fx-text-fill: white;
}
